:root {
  margin: 0 auto;
  text-align: center;
  list-style: none;
};

body {
  display: block !important;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    max-width: fit-content;
    margin: 0 auto;
}

@media screen and (min-width: 1150px) {
  .container {
      display: grid;
      grid-template-columns: 330px 1fr;
      justify-content: center;
      max-width: fit-content;
      margin: 0 auto;
      padding: 40px 0;
    }
}


