.tableContainer {
  display: grid;
  grid-template-columns: 30px 1fr;

}

td {
  text-align: left;
  @media screen and (min-width: 1150px) {
    strong {
      padding-left: 10px;
    }
  }
}

[class*="tableId"] {
    writing-mode: vertical-rl; 
    text-orientation: mixed;   
    transform: rotate(180deg); 
    white-space: nowrap;       
    display: inline-block; 
    color: var(--mantine-color-white);
}

[data-mantine-color-scheme="dark"] {
  .tableId0 {
      background:  var(--mantine-color-violet-light);
  }
}

[data-mantine-color-scheme="light"] {
  .tableId0 {
      background:  var(--mantine-color-grape-9);
  }
}

.tableId1 {
  background: var(--mantine-color-violet-filled);
}

.tableId2 {
  background-color: var(--mantine-color-indigo-9); 
}

.row1129105907981398016, .row473493876728918016 {
  border-radius: 10px;
}

.row1129105907981398016:hover {
  color: white;
  background-color: rgba(129, 24, 221, .8);
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
	transform: scale(1);
	animation: pulse 2s infinite;
}

.row473493876728918016:hover {
  color: white;
  background-color: rgba(219, 16, 233, 0.8);
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
	transform: scale(1);
	animation: pulse2 2s infinite;
}

.row1129105907981398016:active, .row473493876728918016:active {
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: box-shadow 0.2s ease-in;
  transition: box-shadow 0.2s ease-in;
}


@keyframes pulse {
	0% {
		transform: scale(0.90);
		box-shadow: 0 0 0 0 rgba(129, 24, 221, .8);
	}
	
	50% {
		transform: scale(1);
		box-shadow: 0 0 0 20px rgba(129, 24, 221, .2);
	}
	
	100% {
		transform: scale(0.90);
		box-shadow: 0 0 0 0 rgba(129, 24, 221, .1);
	}
}


@keyframes pulse2 {
	0% {
		transform: scale(0.90);
		box-shadow: 0 0 0 0 rgba(216, 15, 231, 0.8);
	}
	
	50% {
		transform: scale(1);
		box-shadow: 0 0 0 20px rgba(241, 94, 236, 0.2);
	}
	
	100% {
		transform: scale(0.90);
		box-shadow: 0 0 0 0 rgba(227, 71, 195, 0.1);
	}
}