.tableContainer {
  display: grid;
  grid-template-columns: 30px 1fr;

}

.tableContainer3  {

}

[class*="tableId"] {
    writing-mode: vertical-rl; 
    text-orientation: mixed;   
    transform: rotate(180deg); 
    white-space: nowrap;       
    display: inline-block; 
    color: var(--mantine-color-white);
}

[data-mantine-color-scheme="dark"] {
  .tableId0 {
      background:  var(--mantine-color-violet-light);
  }
}

[data-mantine-color-scheme="light"] {
  .tableId0 {
      background:  var(--mantine-color-grape-9);
  }
}


.tableId1 {
  background: var(--mantine-color-violet-filled);
}

.tableId2 {
  background-color: var(--mantine-color-indigo-9); 
}

.row1129105907981398016 {
  border: 1px solid #6822bd;
  border-radius: 5px;
  line-height: 3em;
  padding-left: 5em;
  padding-right: 5em;
  position: relative;
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.row1129105907981398016:hover {
  color: white;
  box-shadow: 0 0 30px 0 rgba(124, 77, 225, 0.5);
  background-color: #6822bd;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.row1129105907981398016:hover:before {
  -webkit-animation: shine 0.9s 0s linear;
  -moz-animation: shine 0.9s 0s linear;
  animation: shine 0.9s 0s linear;
  animation-iteration-count: infinite;

}

.row1129105907981398016:active {
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: box-shadow 0.2s ease-in;
  -moz-transition: box-shadow 0.2s ease-in;
  transition: box-shadow 0.2s ease-in;
}

.row1129105907981398016:before {
  content: "";
  display: block;
  width: 0px;
  height: 86%;
  position: absolute;
  top: 7%;
  left: 0%;
  opacity: 0;
  background: white;
  box-shadow: 0 0 15px 3px white;
  -webkit-transform: skewX(-20deg);
  -moz-transform: skewX(-20deg);
  -ms-transform: skewX(-20deg);
  -o-transform: skewX(-20deg);
  transform: skewX(-20deg);
}


.row473493876728918016 {
  border: 1px solid #f024e3;
  border-radius: 5px;
  line-height: 3em;
  padding-left: 5em;
  padding-right: 5em;
  position: relative;
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.row473493876728918016:hover {
  color: white;
  box-shadow: 0 0 30px 0 rgba(245, 22, 204, 0.5);
  background-color: #ee66f7;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.row473493876728918016:hover:before {
  -webkit-animation: shine 0.9s 0s linear;
  -moz-animation: shine 0.9s 0s linear;
  animation: shine 0.9s 0s linear;
  animation-iteration-count: infinite;

}

.row473493876728918016:active {
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: box-shadow 0.2s ease-in;
  -moz-transition: box-shadow 0.2s ease-in;
  transition: box-shadow 0.2s ease-in;
}

.row473493876728918016:before {
  content: "";
  display: block;
  width: 0px;
  height: 86%;
  position: absolute;
  top: 7%;
  left: 0%;
  opacity: 0;
  background: white;
  box-shadow: 0 0 15px 3px white;
  -webkit-transform: skewX(-20deg);
  -moz-transform: skewX(-20deg);
  -ms-transform: skewX(-20deg);
  -o-transform: skewX(-20deg);
  transform: skewX(-20deg);
}


@-webkit-keyframes shine {
  from {
    opacity: 0;
    left: 0%;
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0;
    left: 100%;
  }
}
@-moz-keyframes shine {
  from {
    opacity: 0;
    left: 0%;
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0;
    left: 100%;
  }
}
@keyframes shine {
  from {
    opacity: 0;
    left: 0%;
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0;
    left: 100%;
  }
}